# Archivos especificos
__init__.py
pipeline/test.py

# Archivos de cache / Directorios
__pycache__/
data/

# Entornos virtuales (si usas virtualenv o similar)
entorno/

# Archivos con extenciones en especifico (Ej: *.py - *.txt)
