# Archivos especificos
# data/raw/trip/*.parquet
__init__.py

# Archivos de cache / Directorios
__pycache__/

# Entornos virtuales (si usas virtualenv o similar)
entorno/

# Archivos con extenciones en especifico (Ej: *.py - *.txt)
