# Archivos especificos
data/raw/trips/*.parquet

# Archivos de cache / Directorios


# Entornos virtuales (si usas virtualenv o similar)
entorno/

# Archivos con extenciones en especifico (Ej: *.py - *.txt)
